@page
@model AppWeb.Pages.Cuisines.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cuisine[0].CuisineName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cuisine) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CuisineName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>

}
    </tbody>
</table>
<div style="float: left; max-width: 50%;">
    <img src="https://expatliving.sg/wp-content/uploads/2023/08/w.jpg" alt="food" style="max-width: 100%;" />
</div>
<div style="float: right; max-width: 45%; ">
    <img src="https://thekitchencommunity.org/wp-content/uploads/2021/06/Romanian-Food-The-10-Most-Popular-Dishes.jpg" alt="food" style="max-width: 100%;" />
</div>
